<ion-content [fullscreen]="true">
    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>User list</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item  *ngFor="let user of (users | async)">
            <ion-label><img [src]="user.main_photo" /></ion-label>
            <ion-text>
              <p>Username: {{ user.username }}</p>
              <p>Online: {{ user.is_online }}</p>
            </ion-text>
            <ion-button color="primary" (click)="doCallToChat(user.id)">Chat</ion-button>
  
          </ion-item>          
        </ion-card-content>
      </ion-card>
      </div>
</ion-content>
