<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ng-container *ngIf="isAuth && sessionUser">
            <ion-list-header>
              <core-avatar [user]="sessionUser"></core-avatar>
              {{ sessionUser.username }}
            </ion-list-header>
            <ion-note></ion-note>
          </ng-container>

          <ion-menu-toggle auto-hide="false">
            
            <ion-item  *ngIf="!isAuth" routerLink="login">
              <ion-icon slot="start" src="static/front_dist/mobi/svg/chevron-down-sharp.svg"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>

            <ion-item *ngIf="!isAuth" routerLink="registration">
              <ion-icon slot="start" src="static/front_dist/mobi/svg/chevron-down-sharp.svg"></ion-icon>
              <ion-label>Registration</ion-label>
            </ion-item>

            <ion-item *ngIf="isAuth" (click)="logout()">
              <ion-icon slot="start" src="static/front_dist/mobi/svg/exit-sharp.svg"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item lines="none">
            Item
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
